<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please upgrade your browser</a> or activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="bg-image">
  <%= image_tag "married.jpg", alt: "background" %>
</div>

<div id="bg-container">

  <div class="header-container">
    <div id="heading" class="wrapper clearfix">
      <%= render_homepage_partial "navbar" %>
    </div>
  </div>

  <div class="main-container">
    <div class="main wrapper clearfix">

      <%= render_homepage_partial "header" %>

      <div class="clearfix"></div>

      <%= render_homepage_partial "stories" %>

      <%= render_homepage_partial "wedding" %>

      <%= render_homepage_partial "accomodations" %>

      <%= render_homepage_partial "registry" %>

      <div style="height: 300px"></div>
    </div> <!-- #main -->
  </div> <!-- #main-container -->
</div> <!-- #bg-container -->
