<% content_for :head do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script> 
<% end %>

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please upgrade your browser</a> or activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="bg-image">
  <%= image_tag "married.jpg", alt: "background" %>
</div>

<div id="bg-container">

  <div class="header-container">
    <div id="heading" class="wrapper clearfix">
      <%= render_homepage_partial "navbar" %>
    </div>
  </div>

  <div class="main-container">
    <div class="main wrapper clearfix">

      <%= render_homepage_partial "header" %>

      <div class="clearfix"></div>

      <%= render_homepage_partial "love" %>

      <%= render_homepage_partial "blessings" %>

      <%= render_homepage_partial "accomodations" %>

      <div style="height: 300px"></div>
    </div> <!-- #main -->
  </div> <!-- #main-container -->
</div> <!-- #bg-container -->

<script type="text/javascript">
$(document).ready(function(){
  var map = new BMap.Map("map", {
    mapType: BMAP_HYBRID_MAP
  });          // 创建地图实例

  var geoCoder = new BMap.Geocoder();
  var point = new BMap.Point(116.41287346297, 23.313994439687);  // 创建点坐标
  map.centerAndZoom(point, 13);               // 初始化地图，设置中心点坐标和地图级别
  map.enableScrollWheelZoom();
  map.enableContinuousZoom();

  // Show the marker of target
  var marker = new BMap.Marker(point, {
    title: "点我有好礼相送"
  });
  map.addOverlay(marker);

  var infoWindow = new BMap.InfoWindow("<img src='http://ww3.sinaimg.cn/mw1024/9b87d575jw1e8pcwnphvvj20am0hsaad.jpg' style='max-width: 180px'><img src='http://ww3.sinaimg.cn/mw1024/9b87d575jw1e8pchtqib0j20hr0ovtab.jpg' style='max-width: 217px'>", {
    width: 400,
    title: "<h3 style='font-family: \"Hamburger\"; color: rgb(240, 119, 52)'>小老佳伟甲阿佳伟嫂(羡慕嫉妒恨!!!)</h3>"
  });
  map.addOverlay(infoWindow);

  map.addEventListener('zoomend', function(e) {
    map.setCenter(point);
    marker.setPosition(point);

    var currentZoom = map.getZoom();
    if(currentZoom > 13) {
      map.setMapType(BMAP_NORMAL_MAP);
    } else {
      map.setMapType(BMAP_HYBRID_MAP);
    }
  });

  marker.addEventListener('click', function(e){
    marker.openInfoWindow(infoWindow);
  });
});

</script>

<!-- http://ww3.sinaimg.cn/mw1024/9b87d575jw1e8pcwnphvvj20am0hsaad.jpg -->
