<% content_for :head do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script> 
<% end %>

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please upgrade your browser</a> or activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div id="bg-image">
  <%= image_tag "married.jpg", alt: "background" %>
</div>

<div id="bg-container">

  <div class="header-container">
    <div id="heading" class="wrapper clearfix">
      <%= render_homepage_partial "navbar" %>
    </div>
  </div>

  <div class="main-container">
    <div class="main wrapper clearfix">

      <%= render_homepage_partial "header" %>

      <div class="clearfix"></div>

      <%= render_homepage_partial "stories" %>

      <%= render_homepage_partial "wedding" %>

      <%= render_homepage_partial "accomodations" %>

      <div style="height: 300px"></div>
    </div> <!-- #main -->
  </div> <!-- #main-container -->
</div> <!-- #bg-container -->

<script type="text/javascript">
  var map = new BMap.Map("map");          // 创建地图实例

  var geoCoder = new BMap.Geocoder();
  var point = new BMap.Point(116.40987346297, 23.312994439687);  // 创建点坐标
  map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别
  map.enableScrollWheelZoom();
  map.enableContinuousZoom();

  // Show the marker of target
  var marker = new BMap.Marker(point);
  marker.initialize(map);
</script>
