<section id="love" class="clearfix stories">
  <div class="column full">
    <h1>哇噻，遇到爱！</h1>
    <hr>
    <h2>谁知道，爱是什么？</h2>

    <p>爱是相互照顾，我为你驱赶生活中的一切不安<br>
      <%= image_tag screen_shots("killmouse") %> <br>
      <br>而你，在我最需要温暖的时候给我关怀<br>
      <%= image_tag screen_shots("takecare") %> <br>
      <br>
      爱是相互陪伴，只要我在你身边，你就尽管安心！<br>
      <%= image_tag screen_shots("youarehere") %>
    </p>

    <p>
      或许我们的爱情与生活不再轰轰烈烈 <br>
      <%= image_tag screen_shots "food" %> <br>
      但是，你会懂，最幸福的生活不过于我们所共同品尝的酸甜苦辣
      <%= image_tag screen_shots "happinese" %>
    </p>

    <p>
      在一起的日子，我们闹个不停<br>
      <%= image_tag screen_shots "er" %> <br>
      而在彼此心里，我们都已不可替代<br>
      <%= image_tag screen_shots "handsomeboy" %>
    </p>

    <p>
      一见不到你，就会担心我没有在你身边的日子<br>
      <%= image_tag screen_shots "gohome" %> <br>
      然后开始想念你 <br>
      <%= image_tag screen_shots "missyou" %>
    </p>

    <p>
      终于，我们的感情要步入新的阶段了，一切是如此地激动人心<br>
      <%= image_tag screen_shots "rightnow" %> <br>
      爱是一辈子的事，请让我们用一辈子去完成！<br>
      <%= image_tag screen_shots "loveforever" %>
    </p>
  </div><!--end column-->

  <div class="statement">——仅以此文，送给小老佳伟以及嫂子，愿你们未来爱情路更幸福美满，全体小老最真情祝福！</div>
</section>
